<table class="table">
    <tr>
        <th>N° Carte</th>
        <th>Nom et Prénom</th>
        <th>Date et Lieu de naissance</th>
        <th>Email</th>
    </tr>
    @foreach (Etudiant etudiant in Etudiants)
    {
        <tr>
            <td>@etudiant.NumCarte</td>
            <td>@etudiant.Nom @etudiant.Prenom</td>
            <td>@etudiant.DDN.ToShortDateString() à @etudiant.LDN</td>
            <td>@etudiant.Email</td>
        </tr>
    }
</table>