<Card>
    <CardHeader>
        @Etudiant.NumCarte
    </CardHeader>
    <CardBody>
        <h4>@Etudiant.Nom @Etudiant.Prenom</h4>
        <h5>Né(e) le @Etudiant.DDN.ToShortDateString() à @Etudiant.LDN</h5>
    </CardBody>
    <CardFooter>
        @Etudiant.Email
    </CardFooter>
</Card>