<table>
    <tr>
        <td>N° Carte</td>
        <td>@Etudiant.NumCarte</td>
    </tr>
    <tr>
        <td>Nom et prénom</td>
        <td>@Etudiant.Nom @Etudiant.Prenom</td>
    </tr>
    <tr>
        <td>Né(e) le</td>
        <td> @Etudiant.DDN.ToShortDateString() à @Etudiant.LDN</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td> @Etudiant.Email</td>
    </tr>
</table>